<article class="card">
    <div class="card-header d-flex flex-wrap justify-content-between">
        <h3><a href="/dashboard/edit/{{id}}" class="text-decoration-none text-dark">{{title}}</a></h3>
        <p>{{format_date created_at}}</p>
    </div>
</article>