<div class="bg-light d-flex flex-column justify-content-center">
    <div class="row justify-content-center">
        <div class="col-8 mt-3">
            {{#if posts.length}}
            <h2 class="col-8 ml-2 font-weight-bold">Your Posts</h2>
            <ul class="col-12 list-unstyled text-dark">
                {{#each posts as |post|}}
                <li class="text-dark mt-2">
                    {{> dash-post-info post}}
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="submit" class="btn btn-lg btn-dark"><a href="/dashboard/create" class="text-decoration-none text-light">New Post</a></button>
    </div>
</div>