<div class="d-flex justify-content-center"
    <div class="card row justify-content-center">
        <div class="card-body col-6">

            <h2 class="card-title col-6">Edit Post</h2>
            
            <div class="card-text col-6">
                <form class="edit-post-form">
                    <div class="form-group">
                        <input type="text" id="post-title" class="" name="post-title" value="{{post.title}}"/>
                        <textarea name="post-text" class="">{{post.text}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-dark text-light">Save post</button>
                    <button type="button" class="btn btn-dark text-light delete-post-btn">Delete post</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>